// Font family
$font-family-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-global: Roboto, $font-family-fallback;

$colors: (
  'background':     rgba(232, 232, 232, 1),
  'grey':           rgba(33, 33, 33, 0.2),
  'black':          rgba(0, 0, 0, 1),
  'white':          rgba(255, 255, 255, 1),
);

/* Color variables */
$main-application-background: map-get($colors, 'background');

/* Mixins */
@function color($key) {
  @return map-get($colors, $key);
}

/* Z-index landscape */
$z-index: (
  spinner             : 100,
  dialog              : 90,
  menu                : 20,
  base                : 15,
  root                : 0,
  behind              : -1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

html,
body {
  font-family: $font-family-global;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1;
  color: color('black');
  background-color: color('background');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
