.login {
  $max-width: 400px;

  .fadeLogin-enter {
    opacity: 0;
  }

  .fadeLogin-enter-active,
  .fadeLogin-leave-active {
    transition: 600ms all ease;
  }

  .fadeLogin-leave-to {
    opacity: 0;
  }

  .fadeToast-enter {
    opacity: 0;
  }

  .fadeToast-enter-active,
  .fadeToast-leave-active {
    transition: 330ms all ease;
  }

  .fadeToast-leave-to {
    opacity: 0;
  }

  .centerContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginForm {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    max-width: $max-width;

    .header {
      padding: 10px;
      margin-bottom: 10px;

      .title {
        padding: 0;
        margin: 0;
      }
    }

    .inputContainer {
      flex: 1 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 10px;
      padding-top: 0px;

      .input {
        flex: 1 100%;
        border: 1px solid transparent;
        padding: 10px 10px;

        &.highlight {
          border: 1px solid red;
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .buttonContainer {
      flex: 1 100%;
      display: flex;
      flex-flow: column wrap;
      padding: 10px;
      padding-top: 0px;

      .button {
        flex: 1 100%;
        margin-left: 5px;

        &:not(:last-child) {
          margin-left: 0px;
          margin-right: 5px;
        }
      }
    }
  }

  .toastContainer {
    position: relative;
    max-width: $max-width;

    .toast {
      position: absolute;
      top: 0;
      left: 0;
      width: $max-width;
      max-width: $max-width;
      padding: 10px;

      &--title {
        font-size: 16px;
        font-weight: 600;
      }

      &--message {
        line-height: 1.5;
      }
    }
  }
}
