.login {
  $max-width: 400px;

  .centerContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginForm {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    max-width: $max-width;

    .header {
      padding: 10px;
      margin-bottom: 10px;

      .title {
        padding: 0;
        margin: 0;
      }
    }

    .inputContainer {
      flex: 1 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 10px;
      padding-top: 0px;

      .input {
        flex: 1 100%;
        border: 1px solid transparent;
        padding: 10px 10px;

        &.highlight {
          border: 1px solid red;
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .buttonContainer {
      flex: 1 100%;
      display: flex;
      flex-flow: column wrap;
      padding: 10px;
      padding-top: 6px;
      padding-right: 20px;
      height: 40px;

      .button {
        flex: 1 100%;
        margin-left: 5px;

        &--clearFields {
          background: none;
          outline: 1px solid rgba(0, 0, 0, 0.3);
          font-size: 14px;
          color: rgba(33, 33, 33, 0.8);
          width: 40%;

          &:hover,
          &:focus {
            background: #0053ba;
            color: #FFF;
          }
        }

        &--submitLogin {
          width: 60%;
        }

        &:not(:last-child) {
          margin-left: 0px;
          margin-right: 5px;
        }
      }
    }
  }
}
