@import "../../styles/global.scss";

$max-width: 440px;

.toastMessage {
  position: absolute;
  bottom: -150px;
  left: 0;

  .toastMessage--inner {
    position: relative;
    width: $max-width;
    max-width: $max-width;
    height: 100px;
    display: inline-block;
  }

  .toastItem {
    position: absolute;
    top: 0;
    left: 0;
    width: $max-width;
    max-width: $max-width;
    padding: 10px;
    color: color('dark-grey');

    &--title {
      font-size: 16px;
      font-weight: 600;
    }

    &--message {
      line-height: 1.5;
    }
  }
}
