@import "../../styles/global.scss";

.storefront {
  position: relative;
  color: color('black');
  width: 100%;
  height: 100%;

  .chuckNorris {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 639px;
    background-image: url("../../assets/chuckNorris.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 901px 639px;
    @include z-index(behind);

    opacity: 1;
    transition: opacity 0.3s;
    -webkit-filter: blur(0px);

    &.blur {
      opacity: 0.15;
      transition: opacity 0.3s;
      -webkit-filter: blur(15px);
      -webkit-animation: image_blur 0.5s;
    }

    @-webkit-keyframes image_blur {
      0% { -webkit-filter: blur(0px);}
      100% { -webkit-filter: blur(15px);}
    }
  }

  .centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentContainer {
    min-width: 800px;
    min-height: 800px;
    max-width: 800px;
    max-height: 800px;
  }

  .header {
    position: relative;
    height: 120px;
    margin-top: 60px;

    .title {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .actions {
      position: absolute;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    .buttonContainer {
      flex: 1 100%;
      display: flex;
      flex-flow: column wrap;
      padding: 10px;
      padding-top: 0px;

      .button {
        flex: 1 100%;
        margin-left: 5px;

        &:not(:last-child) {
          margin-left: 0px;
          margin-right: 5px;
        }
      }
    }
  }

  .helperMessage {
    .message {
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }

  .jokes-container {
    margin-top: 10px;
    margin-bottom: 60px;

    .title {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .joke--item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      min-height: 90px;

      &:not(:last-child) {
        border-top: 1px solid color("grey");
      }

      &:last-child {
        border-top: 1px solid color("grey");
        border-bottom: 1px solid color("grey");
      }

      .joke--message {
        flex: 1 80%;
        line-height: 1.5;
        font-size: 13px;
      }

      .joke--button {
        width: 110px;
        height: 30px;
        margin-left: 30px;
      }
    }
  }

  .favoriteJokes-container {
    margin-top: 10px;
    margin-bottom: 60px;

    .title {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .favoriteJoke--item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      min-height: 90px;

      &:not(:last-child) {
        border-top: 1px solid color("grey");
      }

      &:last-child {
        border-top: 1px solid color("grey");
        border-bottom: 1px solid color("grey");
      }

      .favoriteJoke--message {
        flex: 1 80%;
        line-height: 1.5;
        font-size: 13px;
      }

      .favoriteJoke--button {
        width: 110px;
        height: 30px;
        margin-left: 30px;
      }
    }
  }
}
