@import "../../styles/global.scss";

.storefront {
  position: relative;
  color: color('black');
  width: 100%;
  height: 100%;

  .chuckNorris {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 639px;
    background-image: url("../../assets/chuckNorris.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 901px 639px;
    @include z-index(behind);

    opacity: 1;
    transition: opacity 0.3s;
    -webkit-filter: blur(0px);

    &.blur {
      opacity: 0.15;
      transition: opacity 0.3s;
      -webkit-filter: blur(15px);
      -webkit-animation: image_blur 0.5s;
    }

    @-webkit-keyframes image_blur {
      0% { -webkit-filter: blur(0px);}
      100% { -webkit-filter: blur(15px);}
    }
  }

  .logoutUserContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

    .button {
      background: none;
      outline: 1px solid rgba(0, 0, 0, 0.4);
      font-size: 14px;
      padding: 10px 14px;
      color: rgba(33, 33, 33, 0.8);

      &:hover,
      &:focus {
        background: #0053ba;
        color: #FFF;
      }
    }
  }

  .centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentContainer {
    min-width: 800px;
    min-height: 800px;
    max-width: 800px;
    max-height: 800px;
  }

  .header {
    position: relative;
    height: 120px;
    margin-top: 60px;

    .title {
      padding: 0;
      margin: 0;
      text-align: center;
      font-weight: 300;
      font-size: 30px;
      line-height: 1.2;

      &--bold {
        font-weight: 800;
        margin-bottom: 20px;
        font-size: 36px;
      }
    }

    .actions {
      position: absolute;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      padding-bottom: 60px;
    }

    .buttonContainer {
      flex: 1 100%;
      display: flex;
      flex-flow: column wrap;
      padding: 10px;
      padding-top: 0px;

      .button {
        flex: 1 100%;
        margin-left: 5px;

        background: black;
        outline: 1px solid rgba(0, 0, 0, 0.4);
        font-size: 14px;
        padding: 10px 14px;
        color: white;

        &--toggleAutoJokeInterval {
          background: none;
          color: black;
        }

        & > * {
          vertical-align: middle;
          line-height: 0.5;
          color: black;
          margin-right: 10px;
        }

        &:hover,
        &:focus {
          background: color('dark-blue');
          color: #FFF;

          & > * {
            color: #FFF;
          }
        }

        &:not(:last-child) {
          margin-left: 0px;
          margin-right: 5px;
        }
      }

      .buttonLarge {
        flex: 1 50%;
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }

  .helperMessage {
    .message {
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }

  .jokes-container {
    margin-top: 10px;
    margin-bottom: 60px;

    .title {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .joke--item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      min-height: 90px;

      &:not(:last-child) {
        border-top: 1px solid color("grey");
      }

      &:last-child {
        border-top: 1px solid color("grey");
        border-bottom: 1px solid color("grey");
      }

      .joke--message {
        flex: 1 80%;
        line-height: 1.5;
        font-size: 13px;
      }

      .joke--button {
        border: none;
        outline: none;
        background: none;

        width: 40px;
        height: 40px;
        margin-left: 30px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        & > * {
          vertical-align: middle;
          line-height: 0.5;
          color: black;
        }
      }
    }
  }

  .favoriteJokes-container {
    margin-top: 10px;
    margin-bottom: 60px;

    .title {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .favoriteJoke--item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      min-height: 90px;

      &:not(:last-child) {
        border-top: 1px solid color("grey");
      }

      &:last-child {
        border-top: 1px solid color("grey");
        border-bottom: 1px solid color("grey");
      }

      .favoriteJoke--message {
        flex: 1 80%;
        line-height: 1.5;
        font-size: 13px;
      }

      .favoriteJoke--button {
        border: none;
        outline: none;
        background: none;

        width: 40px;
        height: 40px;
        margin-left: 30px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        & > * {
          vertical-align: middle;
          line-height: 0.5;
          color: black;
        }
      }
    }
  }

  .body {
    margin-top: 100px;
  }
}
